.box{
    height: 55rem;
    padding: 3rem 4.5rem;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
    &__boxes{
        width: 100px;
        height: 100px;
        border-radius: 10px;
        border: 1px solid #fff;
    }
}